/* import */
@import url('bricklayer.css');
@import url('chocolat.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* general */
body {background: #000;color:#FFF;}
a {color:#FB1038;cursor:pointer;}
a:hover {text-decoration:none;color:#fff;}
h1 {text-shadow: 3px 3px #000000;}
h2 {font-family: 'Open Sans', sans-serif;font-weight:800;color:#D6C6B0;text-transform: uppercase;font-size:2.6em;margin-bottom:1rem;text-shadow: 2px 2px #000000;}
h3 {font-family: 'Open Sans', sans-serif;font-weight:800;color:#D6C6B0;text-transform: uppercase;font-size:2.6em;}
h4 {color:#D8D1C5;text-shadow: 1px 1px #000000;}

/* header */
.cover {background: #000 url('../img/cover-top.jpg') bottom center no-repeat;background-size:cover;}
header {background: #000 url('../img/cover-bottom.jpg') top center no-repeat;background-size: contain;padding-top:50vw;}

/* navigation */
.navbar-dark .navbar-nav .nav-link {text-transform: uppercase;color:#FB1038;text-shadow: 1px 1px #000000;}
.navbar-dark .navbar-nav .nav-link:hover {color:#FFFFFF;}
.navbar-bizkitpark {background-color:#000000;}
.navbar-bizkitpark.is-sticky {background:#000000;}
.navbar-brand {background: url('../img/logo-top.png') no-repeat;background-size:contain;text-indent:-9999px;width:50vw;}

/* buttons */
.btn-bizkitpark, 
.btn-bizkitpark:hover, 
.btn-bizkitpark:active,
.btn-bizkitpark:not(:disabled):not(.disabled).active, 
.btn-bizkitpark:not(:disabled):not(.disabled):active, 
.show>.btn-bizkitpark.dropdown-toggle{
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #A7122B;
  *background-color: #A7122B;
  background-image: -moz-linear-gradient(top, #FB1038, #A7122B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FB1038), to(#A7122B));
  background-image: -webkit-linear-gradient(top, #FB1038, #A7122B);
  background-image: -o-linear-gradient(top, #FB1038, #A7122B);
  background-image: linear-gradient(to bottom, #FB1038, #A7122B);
  background-repeat: repeat-x;
  border-color: #A7122B;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB1038', endColorstr='#A7122B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-bizkitpark.focus, 
.btn-bizkitpark:focus {
    box-shadow: none;
}

/* video */
.video {background: transparent url('../img/video.jpg') 50% 50% no-repeat;background-size:cover;}
.video .caption {text-transform: uppercase; font-size:.9em;}

/* follow */
.follow {position:relative;}
.follow-content {position:absolute;top:30%;left:0;right:0;text-shadow: 1px 1px #000000;}
.follow a {font-size:2.4rem;color:#fff;}

/* who */
.who {background: transparent url('../img/who.jpg') 50% bottom no-repeat;background-size:cover;min-height:170vh;text-shadow: 1px 1px #000000;}
.who-image {position:absolute;bottom:-13vh;left:5%;right:5%;text-align:center;}

/* contact */
.contact {position: relative;}
.contact .logo-bottom {position:absolute;bottom:-160px;left:calc(50vw - 163px);}

/* spacing */
.py-10 {padding-bottom:5rem !important;padding-top:5rem !important;}
.my-10 {margin-bottom:5rem !important;margin-top:5rem !important;}


/* footer */
.footer {
  color:#000;
  background-color: #D6C6B0;
  *background-color: #D6C6B0;
  background-image: -moz-linear-gradient(top, #FFFFFF, #D6C6B0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#D6C6B0));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #D6C6B0);
  background-image: -o-linear-gradient(top, #FFFFFF, #D6C6B0);
  background-image: linear-gradient(to bottom, #FFFFFF, #D6C6B0);
  background-repeat: repeat-x;
  border-color: #A7122B;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB1038', endColorstr='#A7122B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.footer .nav a {color:#000;text-transform:uppercase;font-size:.85rem;}
.footer .social a {color:#000;font-size:3rem;margin:0 .5rem;}

/* mobile */
@media screen and (min-width: 768px){ 
  h2 {margin-bottom:4rem;}
  .follow-content {top:40%;}
  .who-image {bottom:-15vh;}
  .navbar-bizkitpark {background-color:transparent;}
  header {height:75vw;background-size: cover;padding-top:0;}
  .navbar {background: #000 url('../img/cover-top.jpg') bottom center no-repeat;background-size:cover;}
}

