/* import */
@import url('bricklayer.css');
@import url('chocolat.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* general */
body {background: #000;color:#FFF;font-family: 'Open Sans', sans-serif;}
a {color:#ff5f00;cursor:pointer;font-weight:700;}
a:hover {text-decoration:none;color:#fff;}
h1 {color: #ffffff;font-family: 'Open Sans', sans-serif;font-weight:700;letter-spacing:-2px;font-size:2.6em;text-shadow: 2px 2px #000000;}
h2 {font-family: 'Open Sans', sans-serif;font-weight:800;color:#ff5f00;text-transform: uppercase;font-size:2.6em;margin-bottom:1rem;text-shadow: 2px 2px #000000;}
h3 {font-family: 'Open Sans', sans-serif;font-weight:800;color:#ff5f00;text-transform: uppercase;font-size:2.6em;}
h4 {color:#ffffff;text-shadow: 2px 2px #000000;}
.red {color:#ff5f00;}
.beige {color:#ffffff;}
.bold {font-weight:700;} 


/* header */
/*.cover {background: #000 url('../img/cover-top.jpg') bottom center no-repeat;background-size:cover;}*/
.cover {background:;}
header {height:100vh;background: #000000 url('../img/site-header.jpg') bottom center no-repeat;background-size: cover;padding-top:10vh;}

/* navigation */
.navbar-light .navbar-nav .nav-link {text-transform: uppercase;color:#ff5f00;}
.navbar-light .navbar-nav .nav-link:hover {color:#000000;}
.navbar-bizkitpark {background-color:#000000;}
.navbar-bizkitpark.is-sticky {background:#000000;}
/*.navbar-brand {background: #000 url('../img/logo-top.png') no-repeat;background-size:contain;text-indent:-9999px;width:50vw;}*/
.navbar-brand {background:#000;color:#ff5f00;}
.navbar {background: #000;}
.navbar-dark .navbar-nav .nav-link {color: #ff5f00;}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {color:#D6C6B0;}

/* buttons */
.btn-bizkitpark,
.btn-bizkitpark:hover,
.btn-bizkitpark:active,
.btn-bizkitpark:not(:disabled):not(.disabled).active,
.btn-bizkitpark:not(:disabled):not(.disabled):active,
.show>.btn-bizkitpark.dropdown-toggle{
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #A7122B;
  *background-color: #A7122B;
  background-image: -moz-linear-gradient(top, #ff5f00, #A7122B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff5f00), to(#A7122B));
  background-image: -webkit-linear-gradient(top, #ff5f00, #A7122B);
  background-image: -o-linear-gradient(top, #ff5f00, #A7122B);
  background-image: linear-gradient(to bottom, #ff5f00, #A7122B);
  background-repeat: repeat-x;
  border-color: #A7122B;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f00', endColorstr='#A7122B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-bizkitpark.focus,
.btn-bizkitpark:focus {
    box-shadow: none;
}

/* logo top*/
.logo-top {width:230px;}
@media screen and (min-width: 573px){
  .logo-top {width:300px;}
  }
@media screen and (min-width: 768px){
  .logo-top {width:350px;}
}
/* video */
.video {background: transparent url('../img/video.jpg') 50% 50% no-repeat;background-size:cover;}
.video .caption {text-transform: uppercase; font-size:.9em;}

/* follow */
.follow {position:relative;}
.follow-content {position:absolute;top:30%;left:0;right:0;text-shadow: 1px 1px #000000;}
.follow a {font-size:2.4rem;}

/* contact */
.contact {position: relative;}
.contact .logo-bottom {position:absolute;bottom:-160px;left:calc(50vw - 150px);}



/* spacing */
.py-10 {padding-bottom:5rem !important;padding-top:5rem !important;}
.my-10 {margin-bottom:5rem !important;margin-top:5rem !important;}

/* gallery */
.gallery {position: relative;}
.carousel-control-next, .carousel-control-prev {z-index:9}
.carousel .carousel-indicators li {  background-color: red; }
.carousel .carousel-indicators li.active { background-color: green); }

/* gradient */
.gradient-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), #000000);
    width: 100%;height: 25%;position: absolute;top: 0;left: 0;z-index:1;
}
.gradient-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    width: 100%;height: 25%;position: absolute;bottom: 0;left: 0;z-index:1;
}

/* footer */
/*.footer {
  color:#000;
  background-color: #51accb;
  *background-color: #51accb;
  background-image: -moz-linear-gradient(top, #FFFFFF, #51accb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#51accb));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #51accb);
  background-image: -o-linear-gradient(top, #FFFFFF, #51accb);
  background-image: linear-gradient(to bottom, #FFFFFF, #51accb);
  background-repeat: repeat-x;
  border-color: #A7122B;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f00', endColorstr='#A7122B', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}*/
.footer {
  color:#fff;
  background-color: #5f2301;
}
.footer .nav a {color:#ff5f00;text-transform:uppercase;font-size:.85rem;}
.footer .social a {color:#ff5f00;font-size:3rem;margin:0 .5rem;}

/* not mobile */
@media screen and (min-width: 768px){
  h2 {margin-bottom:4rem;}
  .follow-content {top:50%;}
  header {height:100vh;background-size: cover;padding-top:10vh;}
  /*.navbar {background: #000 url('../img/cover-top.jpg') bottom center no-repeat;background-size:cover;}*/
  h1 {font-size:3rem;}
}
@media screen and (max-width:767px) {
  .navbar-collapse {height:100vh;  transition: all 0s;}
}
